# Binary files
*.dll
*.so
*.lib

# Compressed archives
*.zip
*.rar
*.7z

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.eggs/
venv/
.env
dist/
build/
*.spec

# IDE
.vs/
.vscode/
*.user

# OS files
Thumbs.db
.DS_Store
desktop.ini
